<nav class="site-navbar" aria-label="Main navigation">

  <div class="site-navbar-inner">


    <!-- BRAND -->

    <a
      href="/"
      class="site-brand"
      aria-label="Clean Design UK home"
    >

      <img
        src="/CDUK small logo.webp"
        alt=""
        width="42"
        height="42"
      >

      <span>
        Clean Design UK
      </span>

    </a>


    <!-- MOBILE BUTTON -->

    <button
      class="site-menu-toggle"
      type="button"
      aria-expanded="false"
      aria-controls="site-navigation"
      aria-label="Open navigation"
    >

      <span></span>
      <span></span>

    </button>


    <!-- NAVIGATION -->

    <div
      id="site-navigation"
      class="site-navigation"
    >

      <ul class="site-nav-list">


        <li>
          <a
            href="/"
            class="site-nav-link"
            data-page="home"
          >
            Home
          </a>
        </li>


        <li>
          <a
            href="/about.html"
            class="site-nav-link"
            data-page="about"
          >
            About
          </a>
        </li>


        <li>
          <a
            href="/gallery.html"
            class="site-nav-link"
            data-page="portfolio"
          >
            Portfolio
          </a>
        </li>


        <li>
          <a
            href="/services.html"
            class="site-nav-link"
            data-page="services"
          >
            Services
          </a>
        </li>


        <li>
          <a
            href="/contact.html"
            class="site-nav-link"
            data-page="contact"
          >
            Contact
          </a>
        </li>


      </ul>


      <a
        href="/contact.html"
        class="site-navbar-quote"
      >
        Get a Free Quote
      </a>


    </div>

  </div>

</nav>